{#
/**
* @file
* Default theme implementation to display an iframe field.
*
* Available variables:
* - src: Url being loaded into the iframe.
* - attributes: An array of HTML attributes, intended to be added to the
*   iframe tag.
*/
#}


<iframe width="100%" style="max-height: 650px; height: calc(100vh * 0.70);" src="{{ meeting }}"
        frameborder="0" allowfullscreen allow="camera; microphone;">
  {% trans %}
    Your browser does not support iframes, but you can use the following link:
    <a href="{{ meeting }}">Link</a>
  {% endtrans %}
</iframe>
